<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Title</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
<!--&lt;!&ndash; src/main/resources/templates/index.html &ndash;&gt;-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->
<!--<body>-->
<!--<div sec:authorize="!isAuthenticated()">-->
<!--&lt;!&ndash;    <a th:href="@{/oauth2/code/auth0}">Log In</a>&ndash;&gt;-->
<!--</div>-->
<!--<div sec:authorize="isAuthenticated()">-->
<!--    <p>You are logged in!</p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->